@font-face {
    font-family: 'Pretendard-Bold.otf';
    src: url(/public/font/Pretendard-Bold.otf);
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

#componentBox {
    margin-top: 54px;
}

#componentBox .header-box {
    display: flex;
    width: 1920px;
    height: 149px;
}

#componentBox .header-box .header-namebox {
    display: flex;

    width: 180px;
    height: 30px;

    font-family: 'Pretendard-Bold.otf';
    font-size: 33px;

    padding-left: 105px;
    padding-top:  40px;    
}

#componentBox .user-infoBox {
    display: flex;
    width: 490px;
    height: 60px;

    padding-top: 40px;
}

#componentBox .user-infoBox .user-contentBox {
    display: flex;
    flex-direction: column;

    width: 245px;
    height: 60px;
}

#componentBox .user-infoBox .user-contentBox .contentBox1 {
    display: flex;
    width: 220px;
    height: 30px;

    gap: 30px;

}

#componentBox .user-infoBox .user-contentBox .contentBox2 {
    display: flex;
    width: 220px;
    height: 30px;

    gap: 30px;
} 

#componentBox .user-infoBox .user-contentBox .contentBox1 .iconBox {
    width: 24px;
    height: 24px;

    background-image: url('/public/image/user-key.png');
}

#componentBox .user-infoBox .user-contentBox .contentBox1 .content-board {
    max-width: fit-content;

    font-family: 'Pretendard-Regular';
    font-size: 20px;
}

#componentBox .user-infoBox .user-contentBox .contentBox2 .iconBox {
    width: 24px;
    height: 24px;

    background-image: url('/public/image/user-key.png');
}

#componentBox .user-infoBox .user-contentBox .contentBox2 .content-board {
    max-width: fit-content;

    font-family: 'Pretendard-Regular';
    font-size: 20px;
}

#componentBox .subscribe-box {
    display: flex;
    flex-direction: column;

    width: 1830px;
    height: 100vh;

    align-items: center;
    justify-content: center;

    margin-top: 500px;
}

#componentBox .subscribe-box .save-box {
    display: flex;
    flex-direction: column;

    width: 1385px;
    height: 350px;

}

#componentBox .subscribe-box .like-box {
    display: flex;
    flex-direction: column;

    width: 1385px;
    height: 350px;
}

#componentBox .subscribe-box .save-box .textBox {
    display: flex;
    width: 1385px;
    height: 40px;

    text-align: left;
    font-family: 'Pretendard-Bold.otf';
    padding-left: 8px;
}

#componentBox .subscribe-box .like-box .textBox {
    display: flex;
    width: 1385px;
    height: 40px;

    text-align: left;
    font-family: 'Pretendard-Bold.otf';
    padding-left: 8px;
}

#componentBox .subscribe-box .save-box .imageBox {
    display: flex;
    width: 1235px;
    height: 280px;

    margin-left: 75px;
    margin-top: 30px;

    gap: 147px;
}

#componentBox .subscribe-box .save-box .imageBox .WritePostBox {
    display: flex;
    width: 320px;
    height: 280px;
    
    border: 1px solid rgba(166, 166, 166, 100);
    border-radius: 10px;
}

#componentBox .subscribe-box .like-box .imageBox {
    display: flex;
    width: 1235px;
    height: 280px;

    margin-left: 75px;
    margin-top: 30px;

    gap: 147px;
}

#componentBox .subscribe-box .like-box .imageBox .WritePostBox {
    display: flex;
    width: 320px;
    height: 280px;
    
    border: 1px solid rgba(166, 166, 166, 100);
    border-radius: 10px;
}

#componentBox .subscribe-box .save-box .page-box {
    display: flex;
    width: 1385px;
    height: 30px;

    justify-content: center;
    padding-top: 41px;
    padding-bottom: 40px;
}

#componentBox .subscribe-box .save-box .page-box .pageBox1 {
    display: flex;
    width: 25px;
    height: 25px;

    background-image: url(/public/image/page-arrow-left.png);
}

#componentBox .subscribe-box .save-box .page-box .pageBox2 {
    display: flex;
    width: 25px;
    height: 25px;

    background-image: url(/public/image/page-arrow-right.png);
}

#componentBox .subscribe-box .save-box .page-box .pageBox {
    display: flex;
    width: 25px;
    height: 25px;

    justify-content: center;
}

#componentBox .subscribe-box .like-box .page-box {
    display: flex;
    width: 1385px;
    height: 30px;

    justify-content: center;
    padding-top: 41px;
    padding-bottom: 40px;
}

#componentBox .subscribe-box .like-box .page-box .pageBox1 {
    display: flex;
    width: 25px;
    height: 25px;

    background-image: url(/public/image/page-arrow-left.png);
}

#componentBox .subscribe-box .like-box .page-box .pageBox2 {
    display: flex;
    width: 25px;
    height: 25px;

    background-image: url(/public/image/page-arrow-right.png);
}

#componentBox .subscribe-box .like-box .page-box .pageBox {
    display: flex;
    width: 25px;
    height: 25px;

    justify-content: center;
}

#componentBox .subscribe-box .like-box .write-totalBox {
    display: flex;

    width: 1385px;
    height: 221px;
}

#componentBox .subscribe-box .like-box .write-totalBox .write-titleBox {
    display: flex;

    width: 1385px;
    height: 40px;

    justify-content: center;
    align-items: center;
    text-align: center;
}

#componentBox .subscribe-box .like-box .write-totalBox .write-titleBox .title {
    width: 185px;
    height: 17px;

    font-family: 'Pretendard-Bold.otf';
    font-size: 15px;   
}

#componentBox .subscribe-box .like-box .write-totalBox .write-titleBox .title2 {
    width: 800px;
    height: 17px;

    font-family: 'Pretendard-Bold.otf';
    font-size: 15px;   
}


