@font-face {
    font-family: 'Pretendard-Bold.otf';
    src: url(/public/font/Pretendard-Bold.otf);
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.layout{
    display: flex;
    
    width: 100%;
    flex-direction: column;
}

.layout .subscribe-box .header-box {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 149px;
    
    margin-left: -1100px;
    padding-bottom: 30px;
}

.layout .subscribe-box .header-box .header-namebox {
    display: flex;

    width: 180px;
    height: 30px;

    font-family: 'Pretendard-Bold.otf';
    font-size: 33px;

    padding-left: 105px;
    padding-top:  60px;    
}

.layout .subscribe-box .user-infoBox {
    display: flex;
    width: 490px;
    height: 60px;

    padding-top: 60px;
}

.layout .subscribe-box .user-infoBox .user-contentBox {
    display: flex;
    flex-direction: column;

    width: 245px;
    height: 60px;
}

.layout .subscribe-box .user-infoBox .user-contentBox .contentBox1 {
    display: flex;
    width: 220px;
    height: 30px;

    gap: 30px;

}

.layout .subscribe-box .user-infoBox .user-contentBox .contentBox2 {
    display: flex;
    width: 220px;
    height: 30px;

    gap: 30px;
} 

.layout .subscribe-box .user-infoBox .user-contentBox .contentBox1 .iconBox {
    width: 24px;
    height: 24px;

    background-image: url('/public/image/user-key.png');
}

.layout .subscribe-box .user-infoBox .user-contentBox .contentBox1 .content-board {
    max-width: fit-content;

    font-family: 'Pretendard-Regular';
    font-size: 20px;
}

.layout .subscribe-box .user-infoBox .user-contentBox .contentBox2 .iconBox {
    width: 24px;
    height: 24px;

    background-image: url('/public/image/user-key.png');
}

.layout .subscribe-box .user-infoBox .user-contentBox .contentBox2 .content-board {
    max-width: fit-content;

    font-family: 'Pretendard-Regular';
    font-size: 20px;
}

.layout .subscribe-box {
    display: flex;
    flex-direction: column;

    width: 100%;
    /* height: 100vh; */

    align-items: center;
    justify-content: center;

    margin-top: 54px;
}

.layout .subscribe-box .save-box {
    display: flex;
    flex-direction: column;

    width: 1385px;
    height: 350px;

    margin-bottom: 80px;
}

.layout .subscribe-box .like-box {
    display: flex;
    flex-direction: column;

    width: 1385px;
    height: 350px;

    margin-bottom: 80px;
}

.layout .subscribe-box .like-box2 {
    display: flex;
    flex-direction: column;

    width: 1385px;
    height: 350px;
}

.layout .subscribe-box .save-box .textBox {
    display: flex;
    width: 1385px;
    height: 40px;
    text-align: left;
    align-items: center;
    font-family: 'Pretendard-Bold.otf';
    font-size: 20px;

    padding-left: 8px;
}

.layout .subscribe-box .like-box .textBox {
    display: flex;
    width: 1385px;
    height: 40px;

    text-align: left;
    align-items: center;
    font-family: 'Pretendard-Bold.otf';
    font-size: 20px;

    padding-left: 8px;
}

.layout .subscribe-box .like-box2 .textBox {
    display: flex;
    width: 1385px;
    height: 24px; 

    text-align: left;
    align-items: center;
    font-family: 'Pretendard-Bold.otf';
    font-size: 20px;

    padding-left: 8px;
}

.layout .subscribe-box .save-box .imageBox {
    display: flex;
    width: 1300px;
    height: 500px;

    margin-left: 75px;
    padding-top: 30px;

    gap: 147px;
}

.layout .subscribe-box .save-box .imageBox .WritePostBox {
    display: flex;
    width: 313px;
    height: 282px;
    
    border: 1px solid rgba(166, 166, 166, 100);
    border-radius: 10px;

    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.layout .subscribe-box .save-box .imageBox .WritePostBox:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.layout .subscribe-box .like-box .imageBox {
    display: flex;
    width: 1300px;
    height: 500px;

    margin-left: 75px;
    padding-top: 30px;


    gap: 147px;
}

.layout .subscribe-box .like-box .imageBox .WritePostBox{
    display: flex;
    width: 313px;
    height: 282px;
    
    border: 1px solid rgba(166, 166, 166, 100);
    border-radius: 10px;

    justify-content: center;
    cursor: pointer;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.layout .subscribe-box .like-box .imageBox .WritePostBox:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.layout .subscribe-box .like-box2 .imageBox {
    display: flex;
    width: 1300px;
    height: 500px;

    margin-left: 75px;
    padding-top: 30px;


    gap: 147px;
}

/* .layout .subscribe-box .like-box2 .imageBox .WritePostBox {
    display: flex;
    width: 320px;
    height: 280px;
    
    border: 1px solid rgba(166, 166, 166, 100);
    border-radius: 10px;

    cursor: pointer;
} */

.layout .subscribe-box .like-box .write-totalBox {
    display: flex;

    width: 1385px;
    height: 400px;

    flex-direction: column;
    overflow: auto;
}

.layout .subscribe-box .like-box .write-totalBox .write-titleBox {
    display: flex;

    width: 1385px;
    height: 46px;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.layout .subscribe-box .like-box .write-totalBox .write-titleBox .title {
    display: flex;

    width: 185px;
    height: 17px;

    font-family: 'Pretendard-Bold.otf';
    font-size: 15px;   

    justify-content: center;
}

.layout .subscribe-box .like-box .write-totalBox .write-titleBox .title2 {
    display: flex;
    width: 800px;
    height: 17px;

    font-family: 'Pretendard-Bold.otf';
    font-size: 15px;   

    justify-content: center;
    align-items: center;
    text-align: center;
}

.layout .subscribe-box .like-box .write-totalBox .contentBox {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 1385px;
    height: 22px;

    margin-top: 20px;
    margin-bottom: 20px;
}

.layout .subscribe-box .like-box2 .write-totalBox .contentBox .directed-writeBox {
    display: flex;

    width: 185px;
    height: 17px;

    font-family: 'Pretendard-Regular';
    font-size: 15px;

    align-items: center;
    justify-content: center;

    flex-direction: column;
}

.layout .subscribe-box .like-box2 .write-totalBox .contentBox .directed-writeBox2 {
    display: flex;

    width: 800px;
    height: 17px;

    font-family: 'Pretendard-Regular';
    font-size: 15px;
    
    align-items: center;
    justify-content: flex-start;

    cursor: pointer;
}

.layout .subscribe-box .like-box2 .write-totalBox .contentBox .directed-writeBox3 {
    display: flex;

    width: 185px;
    height: 17px;

    font-family: 'Pretendard-Regular';
    font-size: 15px;

    align-items: center;
    justify-content: center;
}

.layout .subscribe-box .like-box2 .write-totalBox .contentBox .directed-writeBox3 .icon-box {
    display: flex;

    width: 22px;
    height: 22px;

    background-image: url(/public/image/EditIcon.png);
    background-repeat: no-repeat;  
    
    cursor: pointer;
    transition: transform 0.2s ease;
}

.layout .subscribe-box .like-box2 .write-totalBox .contentBox .directed-writeBox3 .icon-box:hover {
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.layout .subscribe-box .like-box2 .write-totalBox .contentBox .directed-writeBox4 {
    display: flex;

    width: 185px;
    height: 17px;

    font-family: 'Pretendard-Regular';
    font-size: 15px;

    align-items: center;
    justify-content: center;
}

.layout .subscribe-box .like-box2 .write-totalBox .contentBox .directed-writeBox4 .icon-box2 {
    display: flex;

    width: 22px;
    height: 22px;

    background-image: url(/public/image/Vector.png);
    background-repeat: no-repeat;

    cursor: pointer;
    transition: transform 0.2s ease;
} 

.layout .subscribe-box .like-box2 .write-totalBox .contentBox .directed-writeBox4 .icon-box2:hover {
    animation: shake 0.5s ease-in-out;
}

.layout .subscribe-box .like-box2 .write-totalBox {
    display: flex;

    width: 1385px;
    height: 400px;

    flex-direction: column;
}

.layout .subscribe-box .like-box2 .write-totalBox .write-titleBox {
    display: flex;

    width: 1385px;
    height: 46px;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.layout .subscribe-box .like-box2 .write-totalBox .write-titleBox .title {
    display: flex;

    width: 185px;
    height: 17px;

    font-family: 'Pretendard-Bold.otf';
    font-size: 15px;   

    justify-content: center;
}

.layout .subscribe-box .like-box2 .write-totalBox .write-titleBox .title2 {
    display: flex;
    width: 800px;
    height: 17px;

    font-family: 'Pretendard-Bold.otf';
    font-size: 15px;   

    justify-content: center;
    align-items: center;
    text-align: center;
}

.layout .subscribe-box .like-box2 .write-totalBox .contentBox {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 1385px;
    height: 22px;

    margin-top: 20px;
    margin-bottom: 20px;
}

.layout .subscribe-box .like-box2 .write-totalBox .contentBox .directed-writeBox {
    display: flex;

    width: 185px;
    height: 17px;

    font-family: 'Pretendard-Regular';
    font-size: 15px;

    align-items: center;
    justify-content: center;

    flex-direction: column;
    

}

.layout .subscribe-box .like-box2 .write-totalBox .contentBox .directed-writeBox2 {
    display: flex;

    width: 800px;
    height: 17px;

    font-family: 'Pretendard-Regular';
    font-size: 15px;
    
    align-items: center;
    justify-content: flex-start;
}

.layout .subscribe-box .like-box2 .write-totalBox .contentBox .directed-writeBox3 {
    display: flex;

    width: 185px;
    height: 17px;

    font-family: 'Pretendard-Regular';
    font-size: 15px;

    align-items: center;
    justify-content: center;
}

.layout .subscribe-box .like-box2 .write-totalBox .contentBox .directed-writeBox3 .icon-box {
    display: flex;

    width: 22px;
    height: 22px;

    background-image: url(/public/image/EditIcon.png);
    background-repeat: no-repeat; 
    
    cursor: pointer;
}

.layout .subscribe-box .like-box2 .write-totalBox .contentBox .directed-writeBox4 {
    display: flex;

    width: 185px;
    height: 17px;

    font-family: 'Pretendard-Regular';
    font-size: 15px;

    align-items: center;
    justify-content: center;
}

.layout .subscribe-box .like-box2 .write-totalBox .contentBox .directed-writeBox4 .icon-box2 {
    display: flex;

    width: 22px;
    height: 22px;

    background-image: url(/public/image/Vector.png);
    background-repeat: no-repeat;

    cursor: pointer;
} 


.layout .WritePostBox .board-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 313px;
    height: 282px;
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(217, 217, 217, 0);
}

.layout .WritePostBox .board-box .board-image {
    width: 313px;
    height: 216px;

    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
}

.layout .WritePostBox .board-box .board-information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 20px;
    padding: 10px 10px 8px 10px;
}

.layout .WritePostBox .board-box .board-tag {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    width: 300px;
    height: 3vh;
    padding: 0px 10px 14px 10px;
    font-family: 'Pretendard-Bold';
    src: url(/public/font/Pretendard-Bold.ttf);
    font-size: 15px;
}

.layout .like-box2 .write-totalBox .Box {
    display: flex;
    flex-direction: column;

    height: 300px;
    overflow: auto;
}