@font-face {
    font-family: 'Pretendard-Thin';
    src: url(/public/font/Pretendard-Thin.ttf);
}

#main-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#main-layout .layout-logo{
    display: flex;
    position: fixed;
    width: 100%;
    height: 54px;
    justify-content:space-between;
    background-color: rgba(12, 12, 12, 1);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    z-index: 100;
}

#main-layout .layout-logo .box {
    display: flex;
    align-items: center;
    cursor: default;
    background-color: rgba(12, 12, 12, 1);
}

#main-layout .layout-logo .box .title {
    color: rgba(255, 255, 255, 1);
    margin-left: 6px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 24px;
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

#main-layout .layout-logo .box .icon {
    display: flex;
    align-content: center;
    width: 51px;
    height: 42px;
    margin-left: 21px;
    background-image: url('/public/Logo.png');
}

#main-layout .layout-logo .navi-box{
    display: flex;
    transition: transform 0.5s ease;
}

#main-layout .layout-logo .navi-box.active{
    transform: translateX(200px);
}

#main-layout .layout-logo .navi-box .navi-icon{
    align-items: center;
    width: 36px;
    height: 30px;
    margin: 12px 15px;
    cursor: pointer;
    background-image: url('/public/image/NaviIcon.png');
}

#main-layout .side-bar{
    display: flex;
    position: fixed;
    flex-direction: column;
    height: 100%;
    min-height: 660px;
    right: -300px;
    gap: 4.7px;
    width: 300px;
    background-color: var(--primary-color);
    transition: transform 0.3s ease;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    z-index: 101;
}

#main-layout .side-bar.active {
    transform: translateX(-300px);
}

#main-layout .side-bar .close-icon {
    margin: 10px 24px 40px 246px;
    width: 30px;
    height: 30px;
    min-height: 30px;
    background-image: url('/public/image/Close-Icon3.png');
    background-size: contain;
    cursor: pointer;
}

#main-layout .side-bar .category {
    display: flex;
    width: 252px;
    font-family: 'Pretendard-Bold';
    font-size: 17px;
    color: var(--primary-font-color);
    padding: 14.7px 0px 10px 0px;
    margin: 0px 24px;
    align-items: center;
    border-bottom: 1px solid var(--primary-font-color);
    cursor: pointer;
}

#main-layout .side-bar .category-detail {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 0;
    margin: 0px 152px 0px 24px;
    transition: max-height 0.2s ease-out;
}

#main-layout .side-bar .category-detail.active {
    max-height: 200px;
}

#main-layout .side-bar .category-detail .category-detail-text-box{
    display: flex;
    align-items: center;
    gap: 3px;
    height: 25px;
    border-bottom: 1px solid rgba(201, 224, 253, 0.3);
}

#main-layout .side-bar .category-detail .category-detail-text-box .icon{
    width: 4px;
    height: 5px;
    background-image: url('/public/image/ArrowRight2.png');
    background-size: contain;
}

#main-layout .side-bar .category-detail .category-detail-text-box .category-detail-text{
    display: flex;
    font-family: 'Pretendard-Thin';
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

#main-layout .signin-signup {
    display: flex;
    gap: 5px;
    justify-content: center;
}

#main-layout .signin-signup .login-button,
#main-layout .signin-signup .slice-line,
#main-layout .signin-signup .signup-button {
    display: flex;
    height: 20px;
    margin: 17px 0px;
    font-family: 'Pretendard-Thin';
    font-size: 18px;
    align-items: center;
    color: var(--primary-font-color);
    cursor: pointer;
}

#main-wrapper .table {
    display: flex;
    flex-direction: column;
    width: 100%;
}