#keyword-wrapper{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70vw;
    height: 70vh;
}

.keyword-title{
    display: flex;
    font-family: 'GongGothicMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-size: 40px;
    margin-bottom: 50px;
}

.keyword-title .keyword-title1 {
    color: rgba(255, 165, 0, 100);

}

.keyword-title .keyword-title2 {
    color: rgba(201, 224,253, 100);
}

#input-container{
    width: 70vw;
    height: 50px;
    position: relative;
    display: flex;
}

#input-container input{
    width: 100%;
    border-radius: 25px;
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-size: 20px;
    padding-left: 30px;
}

#input-container .add-button{
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 10px;
    background-image: url(/public/image/typcn_plus.png);
    width: 30px;
    height: 30px;
}

.keyword-contents{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 2%;
    left: 15%;
    width: 70vw;
    height: 60vh;
    border: solid 1px rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    font-family: 'GongGothicMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
}

.keyword-contents .contents1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap: 15px;
}

.keyword-contents .contents2{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap: 15px;
}

.keyword-contents .contents1, .keyword-contents .contents2 {
    background-color: rgba(250, 250, 250, 1); 
    padding: 20px; 
}

.keyword-contents .contents1 a, .keyword-contents .contents2 a {
    color: inherit; 
    text-decoration: none; 
}

.keyword-contents .contents1 a:hover, .keyword-contents .contents2 a:hover {
    color: #333; 
}
