@keyframes fadeIn {
    0% { opacity: 0; }  /* 완전히 투명 */
    100% { opacity: 1; } /* 완전히 불투명 */
}

#main-hof-wrapper {
    display: flex;
    margin-top: 54px;
    font-size: 62.5%;
}

#main-hof-wrapper .wrapper-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    margin: 2.5%;
    background-color: rgba(245, 245, 245, 1);
}

#main-hof-wrapper .wrapper-container .text-area {
    display: flex;
    margin-left: 4%; 
    margin-top: 4%;
    width: 15vw;

    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: bold;
    font-size: clamp(16px, 3vw + 1rem, 40px);
    white-space: nowrap;

    opacity: 0; /* 처음에는 투명하게 시작 */
    animation: fadeIn 2s forwards; /* 2초 동안 애니메이션 후 마지막 상태 유지 */
}

#main-hof-wrapper .wrapper-container .deco-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 1200px; */
    gap: 40px;
}

#main-hof-wrapper .wrapper-container .deco-container .image-box {
    display: flex;
    margin-top: 6%;
    justify-content: center;
    align-items: center;

}
#main-hof-wrapper .wrapper-container .deco-container .image-box .decorated-img {

    width: 34vw;
    height: 70vh;
    position: relative;
    background-image: url(/public/image/deco.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

#main-hof-wrapper .wrapper-container .deco-container .image-box .image-area {
    position: absolute;

    width: 28vw;
    height: 63vh;

    border-radius: 100%;
    background-image: url(/public/image/fashionex.png);

}

#main-hof-wrapper .wrapper-container .deco-container .button-container{
    display: flex;
    gap: 30px;
    cursor: pointer;
}

#main-hof-wrapper .wrapper-container .icon-area {
    display: flex;
    width: 18vw;
    height: 50vh;
    object-fit: scale-down;

    background-image: url(/public/image/medal.png);
    background-repeat: no-repeat;
    background-size: contain;
}