@font-face {
    font-family: 'Pretendard-Bold';
    src: url(/public/font/Pretendard-Bold.ttf);
}

#main-write {
    display: flex;
    justify-content: center;
    width: 100%;
    width: calc(100vw - 5px);
    height: calc(100vh - 54px);
    background-color: rgba(250, 250, 250, 1);
}

#main-write .write-box {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    width: 1256px;
    height: 849px;
    margin-top: 54px;
    padding: 45px 45px 20px 45px;
    gap: 25px;
    background-color: rgba(255, 255, 255, 1);
}


#main-write .write-box .title {
    width: 1166px;
    height: 80px;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0px 30px;
    font-family: 'Pretendard-Bold';
    font-size: 35px;
    color: var(--primary-font-gray-color);
    background-color: rgba(250, 250, 250, 1);
}

#main-write .write-box .write-box-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1166px;
    height: 50px;
    gap: 25px;
}

#main-write .write-box .tag-box {
    display: flex;
    justify-content: center;
    width: 1080px;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(250, 250, 250, 1);

}

#main-write .write-box .write-box-middle .tag {
    width: 1020px;
    height: 50px;
    border: none;
    outline: none;
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-size: 20px;
    color: var(--primary-font-gray-color);
    background-color: rgba(250, 250, 250, 1);
}

#main-write .write-box .write-box-middle .attached-file {
    display: flex;
    width: 50px;
    height: 46px;
    margin: 6px 18px 6px 30px;
    background-image: url(/public/image/attached-file-Icon.png);
    background-size: contain;
}

#main-write .write-box .contents-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1166px;
    height: 544px;
    border-radius: 10px;
    padding: 20px 30px 20px 30px;
    gap: 5px;
    background-color: rgba(250, 250, 250, 1);

}

#main-write .write-box .contents-box .content {

    width: 1166px;

    padding: 20px 30px 20px 30px;
    border: none;
    outline: none;
    background-color: rgba(250, 250, 250, 1);
}

#main-write .write-box .write-box-bottom {
    display: flex;
    justify-content: flex-end;
    width: 1166px;
    height: 40px;
}

#main-write .write-box .write-box-bottom .button-box {
    display: flex;
    justify-content: flex-end;
    gap: 20px;

}

#main-write .write-box .write-box-bottom .register,
#main-write .write-box .write-box-bottom .cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-family: 'Pretendard-Bold';
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    background-color: var(--primary-color);

}