@font-face {
    font-family: 'Pretendard-Bold';
    src: url(/public/font/Pretendard-Bold.ttf);
}

#list-main {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 54px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#list-main .board-top {
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 90vw;
    margin: 45px 0px;
    z-index: 2;
}

#list-main .board-top .drop-down-box {
    display: flex;
    flex-direction: column;
    width: 100px;
}

#list-main .board-top .drop-down-box .drop-down-main {
    display: flex;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--primary-font-gray-color);
    background-color: var(--primary-font-color);
    cursor: pointer;
}

#list-main .board-top .drop-down-box .drop-down-main-text {
    display: flex;
    width: 40px;
    height: 20px;
    padding: 10px 2.5px 10px 27px;
    color: var(--primary-font-gray-color);
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-size: 15px;
}

#list-main .board-top .drop-down-box .drop-down-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 20px;
    margin: 10px 10px;
    color: var(--primary-font-gray-color);
    background-image: url(/public/image/Chevron-down.png);
    background-size: contain;
}

#list-main .board-top .drop-down-box .drop-down-sub {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    /* border: 1px solid var(--primary-font-gray-color); */
    background-color: var(--primary-font-color);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    cursor: pointer;
}

#list-main .board-top .drop-down-box .drop-down-sub.active {
    max-height: 200px;
}

#list-main .board-top .drop-down-box .drop-down-sub-text {
    display: flex;
    align-items: center;
    width: 28px;
    height: 40px;
    padding: 0px 45px 0px 27px;
    color: var(--primary-font-gray-color);
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-size: 15px;
    cursor: pointer;
}

#list-main .board-top .drop-down-box .drop-down-sub-text:hover {
    color: rgba(50, 50, 50, 1);
    background-color: rgba(220, 220, 220, 1);
}

#list-main .board-top .write-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-family: 'Pretendard-Bold';
    font-size: 20px;
    color: var(--primary-font-color);
    background-color: var(--primary-color);
    cursor: pointer;
}

#list-main .board-middle {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    position: absolute;
    justify-content: center;
    margin: 130px 70px;
    width: 90vw;
    gap: 35px;
    z-index: 1;
}

#list-main .board-middle .board-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 21vw;
    height: 34vh;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .25);
}

#list-main .board-middle .board-box .board-image {
    width: 21vw;
    height: 26vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    background-color: black;
}

.board-image-content {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#list-main .board-middle .board-box .board-information {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    width: 19.9vw;
    height: 2vh;
    padding: 10px 10px 8px 10px;
}

.board-information-data {
    display: flex;
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-size: 15px;
    color: rgba(166, 166, 166, 1);
}

#list-main .board-middle .board-box .board-information .board-information-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

#list-main .board-middle .board-box .board-information .board-information-right .board-information-like {
    display: flex;
    align-items: center;
    gap: 5px;
}

#list-main .board-middle .board-box .board-information .board-information-right .board-information-like-icon {
    display: flex;
    width: 17px;
    height: 15px;
    background-image: url(/public/image/heart-Icon.png);
    background-position: 50% 50%;
    background-size: cover;
}

#list-main .board-middle .board-box .board-information .board-information-right .board-information-like-icon.active{
    display: flex;
    width: 17px;
    height: 15px;
    background-image: url(/public/image/on-heart-Icon.png);
    background-position: 50% 50%;
    background-size: cover;
}

#list-main .board-middle .board-box .board-information .board-information-right .board-information-view {
    display: flex;
    align-items: center;
    gap: 5px;
}
#list-main .board-middle .board-box .board-information .board-information-right .board-information-view-icon {
    display: flex;
    width: 18px;
    height: 14px;
    background-image: url(/public/image/view-Icon.png);
    background-position: 50% 50%;
    background-size: cover;
}

#list-main .board-middle .board-box .board-information .board-information-right .board-information-bookmark {
    display: flex;
    width: 11px;
    height: 15px;
    background-image: url(/public/image/bookmark.png);
    background-position: 50% 50%;
    background-size: cover;
    cursor: pointer;
}

#list-main .board-middle .board-box .board-information .board-information-right .board-information-bookmark.active {
    display: flex;
    width: 11px;
    height: 15px;
    background-image: url(/public/image/bookmark-active.png);
    background-position: 50% 50%;
    background-size: cover;
    cursor: pointer;
}

#list-main .board-middle .board-box .board-tag {
    display: flex;
    overflow: hidden;
    align-items: center;
    width: 19.9vw;
    height: 3vh;
    padding: 0px 10px 14px 10px;
    font-family: 'Pretendard-Bold';
    src: url(/public/font/Pretendard-Bold.ttf);
    font-size: 20px;
}