.pagination-box {
    display: flex;
    width: 1385px;
    height: 30px;
    position: relative;
    justify-content: center;
    top: 1000px;
    font-family: 'Pretendard-Bold.otf';
    font-size: 14px;
    align-items: center;
}

.left-button {
    display: flex;

    width: 25px;
    height: 25px;

    background-image: url(/public/image/page-arrow-left.png);
    background-size: 100% 100%;

    cursor: pointer;
}

.right-button {
    display: flex;
    width: 25px;
    height: 25px;

    align-items: center;
    justify-content: center;

    background-image: url(/public/image/page-arrow-right.png);
    background-size: 100% 100%;

    cursor: pointer;
}

.page-list {
    display: flex;
    /* width: 25px;
    height: 25px;

    justify-content: center;
    align-items: center;

    cursor: pointer;
    gap: 3px; */
    gap: 16px;
}

.page {
    color: rgba(138, 146, 166, 1);

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    cursor: pointer;
}

.page.active {
    color: rgba(64, 64, 64, 1);
    font-weight: 700;

    cursor: default;
}