/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px)*/
:root    {
    --text-color: rgba(55, 55, 55, 0.8);
    --border-color: rgba(12, 12, 12, 0.8);
    --vertical-bar-color: rgba(0, 0, 0, 0.3);
}

#map-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    height: calc(100vh - 54px);
    margin-top: 54px;
}

#map-main .map-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49.4729vw;
}

.map-wrapper #map {
    width: 41vw;
    height: 74vh;
    border-radius: 3%;
}

#map-main .bar-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar-box .vertical-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0.2048vw;
    height: 74vh;
    background-color: var(--vertical-bar-color);
}

#map-main .map-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49.4729vw;
}

.map-wrapper .right-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    width: 41vw;
    height: 74vh;
}

.head-travel-title {
    width: 20vw;
    height: 4vh;
    border-radius: 3vw;
    line-height: 4vh;
    border: 20vw dashed;
    border-color: var(--border-color);
    border-width: 2px;

    text-align: center;
    font-weight: 700;
    font-size: 1.2vw;
    color: var(--text-color);
}

.right-box .middle-icon-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 31vw;
    height: 11vh;


}

.middle-icon-box .left-icon {
    background-image: url(../../../public/image/i-land.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 4vw;
    height: 8vh;
}

.middle-icon-box .middle-icon-1 {
    background-image: url(../../../public/image/food-bank.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 4vw;
    height: 8vh;
}

.middle-icon-box .middle-icon-2 {
    background-size: 100%;
    background-image: url(../../../public/image/cafe-cup.png);
    background-repeat: no-repeat;
    width: 4vw;
    height: 8vh;
}

.middle-icon-box .right-icon {
    background-image: url(../../../public/image/hotel-icon.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 4vw;
    height: 8vh;
}

.right-box .bottom-location-search {
    display: flex;
    justify-content: center;
    width: 41vw;
    height: 4vh;
}

.input-box {
    border-width: 0 0 1px;
    font-size: 20px;
    width: 28.832vw;
    /* hx */
}

.input-box:focus {
    outline: none;
}

.search-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}
.search-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.location-select {
    height: 4vh;
    width: 14vw;
    line-height: 3vh;
    font-size: 1.04vw;
    font-weight: 400;
    border-radius: 0.7vw;
    text-align: center;
    border: 2px dashed var(--border-color);
    color: var(--text-color);
}

.search-button {
    width: 3.60vw;
    height: 6.38vh;
    border: 2px dashed var(--border-color);
    text-align: center;
    border-radius: 1vw;
    line-height: 6.38vh;
    font-size: 1.04vw;
    font-weight: 400;
    color: var(--text-color);
}

.select-box{
    display: flex;
    gap: 2vw;
}