#vote-main {
    width: 1920px;
    height: 1024px;
    
}

/* .vote-dropdown {
    position: absolute;
    top: 30px;
    left: 70px;
} */

/* .vote-dropdown-button {
    cursor: pointer;

    color: rgb(117, 109, 109);

    border: none;
    border-radius: 5px;

    text-align: center;
    line-height: 250%;

    width: 90px;
    height: 30px;
    background-color: #e3dede;
} */

.vote-top {

    position: relative;
    display: flex;
    justify-content: center;
    line-height: 200%;
    
    gap: 20px;
    
}

.vote-name {
    color: rgb(209, 195, 195);;

    font-size: 14px;
    font-weight: 500;
    padding-left: 40px;

}

.vote-text {

    font-size: 20px;
    font-weight: 700;
    padding-left: 40px;
    
}

.vote-list {
    cursor: pointer;

    border: 1px solid rgba(64, 64, 64, 1);
    border-radius: 12px;

    margin: 80px;

    width: 400px;
    height: 350px;


    padding-bottom: 30px;
}

.vote-photo {
    display: flex;
    justify-content: center;
    gap: 30px;
    
    margin: 10px;

    
}

.first-photo {
    border: 1px solid gray;
    border-radius: 12px;
    

    width: 150px;
    height: 150px;

    background-image: url(/public/image/fashionimage.png);
    background-size: 100% 100%;
}

.second-photo {
    border: 1px solid gray;
    border-radius: 12px;

    width: 150px;
    height: 150px;

    background-image: url(/public/image/TravelImage.png);
    background-size: 100% 100%;
}

.vote-bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    gap: 10px;
}

.first-text {

    border: 1px solid rgb(209, 195, 195);
    border-radius: 12px;

    width: 320px;
    height: 50px;
    line-height: 300%;
    padding-left: 20px;
    color: rgb(209, 195, 195);;
}

.second-text {

    width: 320px;
    height: 50px;

    border: 1px solid rgb(209, 195, 195);;
    border-radius: 12px;
    line-height: 300%;
    padding-left: 20px;
    color: rgb(209, 195, 195);;
    
}

.vote-button {
    cursor: pointer;

    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 500px;

    

    

    
}

.vote-post {
    margin-top: -60px;
    margin-right: 80px;
    text-align: center;
    line-height: 300%;

    border: 1px solid gray;
    border-radius: 12px;
    background-color: black;
    color: white;

    width: 160px;
    height: 40px;

    font-size: 14px;
    font-weight: 500;

    cursor: pointer;
    z-index: 9999;
}


