@font-face {
    font-family: 'Pretendard-Bold.otf';
    src: url(/public/font/Pretendard-Thin.ttf);
}

.input-box {
    display: flex;
    flex-direction: column;
    width: 420px;

    font-family: 'Pretendard-Thin.ttf';

}

.input-box .input-area {
    display: flex;
    height: 40px;
}


.input-box input {
    flex: 1;
    padding-top: 2%;

    background: none;
    border: none;
    outline: none;
    border-bottom: 1.2px solid var(--primary-color);

    font-family: 'Pretendard-Regular';
    font-size: 20px;
    color: var(--primary-color);
}

input::placeholder {
    font-family: 'Pretendard-Bold.otf';
    font-size: 20px;
    color: rgba(217, 217, 217, 0.7);
}

.input-button.disable {
    background-color: var(--primary-color);
    color: var(--primary-font-color);
}

.input-button.active {
    background-color: rgba(217, 217, 217, 0.7);
    color: var(--primary-color);
}

.input-button.active:hover {
    background-color: var(--primary-20-color);
    cursor: pointer;
}

.input-box .shadow {
    height: 1.3px;
    box-shadow: 0px 1.2px 6px 0px rgb(166, 166, 166);
}

.input-box .message {
    height: 15px;
    margin-top: 10px;
    margin-left: 12px;

    font-size: 13px;
    font-weight: 300;
}